#app {
  .page {
    #gitalk-container {
      margin: auto;
      width: 60%;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear, 
    left bottom, left top,
   color-stop(.44, rgb(60, 186, 146)), 
   color-stop(.72, rgb(253, 187, 45)), 
   color-stop(.86, rgb(253, 187, 45))
  );
  transition: .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(
    linear, 
    left bottom, left top, 
    color-stop(.44, rgb(253, 187, 45)), 
    olor-stop(.72, rgb(253, 187, 45)), 
    color-stop(.86, rgb(60, 186, 146))
  );
  transition: .3s ease-in-out;
}